.h2_footer {
    font-size: 1.875rem;
    color:  #E6260C;
    font-weight:bold;
    padding-left: 0;
  }

  .p_footer {
    font-size: 1.125rem;
    color:  #E6260C;    
    padding-left: 0;      
  }

  .redes{        
    color:  #E6260C;
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    }
