.clase-hf-nav{
    background-color: #242430;
    color: #E6260C
}

.h1_header {
    font-size: 2,2vw;
    color:  #E6260C;
    font-weight:bold;
    padding-left: 0        
  }
  .nav-pers {
    margin: 0;
    padding-left: 19vw;
    font-size: 2vw;       
  }

  .nav-pers-link{
    color: #FAF9F0;
}
