/* nosotros.css */

/* Estilos para el contenido dentro de la etiqueta <main> */
body {
    font-size: 1rem;
    line-height: 1.6;
    background-color: #FAF9F0;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(222, 218, 218, 0.8)), url("../img/nosotros/oxana-v-qoAIlAmLJBU-unsplash.jpg");
    /*background-image: linear-gradient(rgb(255, 255, 255), rgba(222, 218, 218, 0.8)), url("../img/nosotros/0026-Mapa-de-los-viajes-de-James-Cook-1794-scaled.webp");*/
    background-size: cover;
}

/* Estilos para los elementos <h2> */
main h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: White;
    background-color: #242430;
    border: 2px solid #242430;
    padding: 10px;
    font-weight: bold;
}

.imagenPrincipal {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.containerNos {
    width: 75%;
    margin: 10vh auto;
}

.sobreNosotros {

}

.misionVision {
    display: flex;
    justify-content: space-between;
}

.mision, .vision {
    width: 45%;
    display: inline-block;
}

/* Estilos para el contenedor de comentarios */
.contenedor-comentarios {
    background-color: #242430;
    padding: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow-x: auto;
}

/* Estilos para cada comentario */
.lista-comentarios li {
    background-color: #e9e0b4;
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 200px;
    vertical-align: top;
    white-space: normal;
    word-wrap: break-word;
}

/* Estilos para resaltar */
.resaltado {
    font-weight: bold;
}
