.espaciador {
    width: 100vw;
}

.imagenPortadaEspaciador {
    width: 100vw;
}

.contenedorImagenPortada {
    position: absolute;
    display: flex;
    align-items: center;
}

.imagenPortada {
    width: 100vw;
}

.botonera {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-10%, -20%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.8);
    border-radius: 2vh;
    padding: 3vh;
}

.inputPortada {
    width: 20vw;
    height: 8vh;
    border: 2px solid #E6260C;
    padding: 0px 20px;
    margin: 0.5rem;
    font-size: 2vh;
}

.btnPortada {
    display: flex;
    align-items: center;
    background-color: #E6260C;
    color: white;
    padding: 0.5rem;
    box-shadow: 3px 3px 8px black;
    font-size: 3vh;
    border: 3px solid black;
    height: 8vh;
}
