.seccion-5{
    background-color: #242430;
    height: 400px;
}
.text-frase{
    width: 50%;
    color: #FAF9F0;
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-texto{
    width: 50%;
    padding: 30px;
    color: #FAF9F0;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.session-img img {
    width: 42%;
    height: 100%;
    object-fit: cover; 
}
.button-session5{
    width: 180px;
    height: 38px;
    background-color: #E6260C;
    color:#FAF9F0;
   
}